/* style.css */
/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom global style tambahan jika diperlukan */
body {
  /* Contoh: Atur line-height global */
  line-height: 1.6;
}
